<script src="js/cart.js"></script>
<div>
    <h1>USUARIO: {{user.name}}</h1>
    <h2>ROL: {{user.role}}</h2>
    <p>{{user.email}}</p>
    <a href="/api/sessions/logout"><button>Salir</button></a>
</div>

<div id="container">
    {{#each products}}
    <ul>
        <li>title: {{this.title}}</li>
        <li>stock: {{this.stock}}</li>
        <li>code: {{this.code}}</li>
        <li>price: {{this.price}}</li>
        <li>description: {{this.description}}</li>
        <li>status: {{this.status}}</li>
        <li>category: {{this.category}}</li>
        <li>
            <button class="addButton" data-title="{{this.title}}" data-price="{{this.price}}"
                onclick="addToCart(this)">Agregar al carrito</button>
        </li>
    </ul>
    {{/each}}
</div>

<div>
    {{#if hasPrevPage}}
    <a href="{{prevLink}}"><button>Anterior</button></a>
    {{/if}}
    {{#if hasNextPage}}
    <a href="{{nextLink}}"><button>Siguiente</button></a>
    {{/if}}
</div>