<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>

<body>
    <h1>Productos</h1>
    <div>
        {{#each products}}
        <div>
            <h2>{{this.name}}</h2>
            <p>{{this.description}}</p>
            <p>${{this.price}}</p>
            <p>Categoría: {{this.category}}</p>
            <!-- Opción 1: Enlace a la página del producto -->
            <a href="/products/{{this._id}}">Ver detalles</a>
            <!-- Opción 2: Botón para agregar al carrito directamente -->
            <button data-product-id="{{this._id}}" class="add-to-cart-btn">Agregar al Carrito</button>
        </div>
        {{/each}}
    </div>
    <div>
        <!-- Paginación -->
        {{#if hasPrevPage}}
        <a href="?page={{prevPage}}&limit={{limit}}">Página Anterior</a>
        {{/if}}
        Página {{page}} de {{totalPages}}
        {{#if hasNextPage}}
        <a href="?page={{nextPage}}&limit={{limit}}">Página Siguiente</a>
        {{/if}}
    </div>
</body>

</html>